@charset "UTF-8";
.card,
.deck,
.discard {
  height: 200px;
  aspect-ratio: 0.6282722513;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5019607843);
  border-radius: 5%;
  z-index: 5;
}

.deck .counter {
  position: absolute;
  bottom: 1%;
  right: 1%;
  color: black;
  text-shadow: #fff -1px -1px, #fff 1px 1px, #fff -1px 1px, #fff 1px -1px;
}
html[data-theme=dark] .deck .counter {
  color: white;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.267), 1px 1px rgba(0, 0, 0, 0.267), -1px 1px rgba(0, 0, 0, 0.267), 1px -1px rgba(0, 0, 0, 0.267);
}
.deck .counter::after {
  content: attr(data-state);
  position: relative;
}
.deck .card {
  visibility: hidden;
}

.discard > * {
  visibility: hidden;
  position: absolute;
}

.mainarea .card.folk {
  bottom: 99%;
}
.mainarea .card.folk[data-state="4"] {
  left: 36%;
}
.mainarea .card.folk[data-state="3"] {
  left: 68%;
}
.mainarea .card.folk[data-state="2"] {
  left: 1%;
}
.mainarea .card.folk[data-state="1"] {
  left: 22%;
}
.mainarea .card.land {
  top: 99%;
}
.mainarea .card.land[data-state="4"] {
  left: 36%;
}
.mainarea .card.land[data-state="3"] {
  left: 68%;
}
.mainarea .card.land[data-state="2"] {
  left: 1%;
}
.mainarea .card.land[data-state="1"] {
  left: 22%;
}
.mainarea .card.space {
  bottom: 99%;
}
.mainarea .card.space[data-state="4"] {
  left: 35%;
}
.mainarea .card.space[data-state="3"] {
  left: 1%;
}
.mainarea .card.space[data-state="2"] {
  left: 80%;
}
.mainarea .card.space[data-state="1"] {
  left: 59%;
}
.mainarea .card.water {
  top: 99%;
}
.mainarea .card.water[data-state="4"] {
  left: 35%;
}
.mainarea .card.water[data-state="3"] {
  left: 1%;
}
.mainarea .card.water[data-state="2"] {
  left: 80%;
}
.mainarea .card.water[data-state="1"] {
  left: 59%;
}
.mainarea .card.insp {
  left: 108%;
  transform: rotate(90deg);
}
.mainarea .card.insp[data-state="4"] {
  top: 70%;
}
.mainarea .card.insp[data-state="3"] {
  top: 45%;
}
.mainarea .card.insp[data-state="2"] {
  top: 20%;
}
.mainarea .card.insp[data-state="1"] {
  top: -5%;
}

.mainarea .deck_insp {
  left: 108%;
  bottom: 99%;
  transform: rotate(90deg);
}
.mainarea .deck_space {
  right: 2%;
  bottom: 99%;
}
.mainarea .deck_folk {
  left: 0;
  bottom: 99%;
}
.mainarea .deck_land {
  left: 0;
  top: 99%;
}
.mainarea .deck_water {
  right: 2%;
  top: 99%;
}

.tableau .card {
  position: absolute;
}
.tableau .column {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 125.6544502618px;
  height: 100%;
}
.tableau .column .card {
  left: 0%;
}
.tableau .card_folk {
  z-index: 0;
  bottom: 0%;
}
.tableau .card_water,
.tableau .card_land {
  z-index: 1;
  bottom: 9%;
}
.tableau .pboard {
  display: inline-block;
  vertical-align: top;
}
.tableau .pboard .card_home,
.tableau .pboard .card[data-home-pos] {
  border: unset;
  box-shadow: unset;
}
.tableau .pboard .card_home {
  z-index: 1;
  bottom: 9%;
}
.tableau .pboard .card[data-home-pos] {
  bottom: 0%;
}
.tableau .pboard .card_home_1,
.tableau .pboard .card[data-home-pos="1"] {
  left: 33%;
}
.tableau .pboard .card_home_2,
.tableau .pboard .card[data-home-pos="2"] {
  left: 0%;
}
.tableau .pboard .card_home_3,
.tableau .pboard .card[data-home-pos="3"] {
  right: 0%;
}
.tableau .pboard .card_folk_1 {
  left: 33%;
  bottom: 0%;
  position: absolute !important;
}
.tableau .pboard .card_home_1 {
  visibility: hidden;
}
.tableau .pboard .card_slot {
  left: 33%;
}
.tableau .pboard .card_home_10 {
  bottom: 31%;
}
.tableau .pboard .card_home_11 {
  bottom: 24%;
}
.tableau .pboard .card_home_12 {
  bottom: 17%;
}
.tableau .pboard .card_home_13 {
  bottom: 9%;
}

.card_home {
  background-image: url(img/PlayerBoard-01-s.png);
  background-size: 300% auto;
  background-position-y: 86%;
}

.card_home_1 {
  background-image: unset;
}

.card_home_2 {
  background-position-x: 0%;
}

.card_home_3 {
  background-position-x: 100%;
}

.card_folk_1 {
  background-image: unset !important;
}

.card_slot {
  background-image: unset;
  aspect-ratio: unset;
  width: 125.6544502618px;
  height: 31.25px;
}

.card_folk_114 {
  background-position: 0% 0%;
}

.card_folk_115 {
  background-position: 20% 0%;
}

.card_folk_116 {
  background-position: 40% 0%;
}

.card_folk_117 {
  background-position: 60% 0%;
}

.card_folk_118 {
  background-position: 80% 0%;
}

.card_folk_119 {
  background-position: 100% 0%;
}

.card_folk_120 {
  background-position: 0% 16.6666666667%;
}

.card_folk_121 {
  background-position: 20% 16.6666666667%;
}

.card_folk_122 {
  background-position: 40% 16.6666666667%;
}

.card_folk_123 {
  background-position: 60% 16.6666666667%;
}

.card_folk_124 {
  background-position: 80% 16.6666666667%;
}

.card_folk_125 {
  background-position: 100% 16.6666666667%;
}

.card_folk_126 {
  background-position: 0% 33.3333333333%;
}

.card_folk_127 {
  background-position: 20% 33.3333333333%;
}

.card_folk_128 {
  background-position: 40% 33.3333333333%;
}

.card_folk_129 {
  background-position: 60% 33.3333333333%;
}

.card_folk_130 {
  background-position: 80% 33.3333333333%;
}

.card_folk_131 {
  background-position: 100% 33.3333333333%;
}

.card_folk_132 {
  background-position: 0% 50%;
}

.card_folk_133 {
  background-position: 20% 50%;
}

.card_folk_134 {
  background-position: 40% 50%;
}

.card_folk_135 {
  background-position: 60% 50%;
}

.card_folk_136 {
  background-position: 80% 50%;
}

.card_folk_137 {
  background-position: 100% 50%;
}

.card_folk_138 {
  background-position: 0% 66.6666666667%;
}

.card_folk_139 {
  background-position: 20% 66.6666666667%;
}

.card_folk_140 {
  background-position: 40% 66.6666666667%;
}

.card_folk_141 {
  background-position: 60% 66.6666666667%;
}

.card_folk_142 {
  background-position: 80% 66.6666666667%;
}

.card_folk_143 {
  background-position: 100% 66.6666666667%;
}

.card_folk_144 {
  background-position: 0% 83.3333333333%;
}

.card_folk_145 {
  background-position: 20% 83.3333333333%;
}

.card_folk_146 {
  background-position: 40% 83.3333333333%;
}

.card_folk_147 {
  background-position: 60% 83.3333333333%;
}

.card_folk_148 {
  background-position: 80% 83.3333333333%;
}

.card_folk_149 {
  background-position: 100% 83.3333333333%;
}

.card_folk_150 {
  background-position: 0% 100%;
}

.card_folk_151 {
  background-position: 20% 100%;
}

.card_folk {
  background-image: url(img/cards_folk.jpg);
  background-size: 600% auto;
}

.deck_folk {
  background-image: url(img/cards_folk.jpg);
  background-size: 600% auto;
  background-position: 40% 100%;
}

.card_space {
  background-image: url(img/cards_space.jpg);
  background-size: 600% auto;
}

.deck_space {
  background-image: url(img/cards_space.jpg);
  background-size: 600% auto;
  background-position: 20% 100%;
}

.card_land {
  background-image: url(img/cards_land.jpg);
  background-size: 600% auto;
}

.deck_land {
  background-image: url(img/cards_folk.jpg);
  background-size: 600% auto;
  background-position: 60% 100%;
}

.card_water {
  background-image: url(img/cards_water.jpg);
  background-size: 600% auto;
}

.deck_water {
  background-image: url(img/cards_folk.jpg);
  background-size: 600% auto;
  background-position: 80% 100%;
}

.card_insp {
  background-image: url(img/cards_insp.jpg);
  background-size: 600% auto;
}

.deck_insp {
  background-image: url(img/cards_folk.jpg);
  background-size: 600% auto;
  background-position: 100% 100%;
}

.card_space_1 {
  background-position: 0% 0%;
}

.card_water_39 {
  background-position: 0% 0%;
}

.card_land_1 {
  background-position: 0% 0%;
}

.card_space_2 {
  background-position: 20% 0%;
}

.card_water_40 {
  background-position: 20% 0%;
}

.card_land_2 {
  background-position: 20% 0%;
}

.card_space_3 {
  background-position: 40% 0%;
}

.card_water_41 {
  background-position: 40% 0%;
}

.card_land_3 {
  background-position: 40% 0%;
}

.card_space_4 {
  background-position: 60% 0%;
}

.card_water_42 {
  background-position: 60% 0%;
}

.card_land_4 {
  background-position: 60% 0%;
}

.card_space_5 {
  background-position: 80% 0%;
}

.card_water_43 {
  background-position: 80% 0%;
}

.card_land_5 {
  background-position: 80% 0%;
}

.card_space_6 {
  background-position: 100% 0%;
}

.card_water_44 {
  background-position: 100% 0%;
}

.card_land_6 {
  background-position: 100% 0%;
}

.card_space_7 {
  background-position: 0% 16.6666666667%;
}

.card_water_45 {
  background-position: 0% 16.6666666667%;
}

.card_land_7 {
  background-position: 0% 16.6666666667%;
}

.card_space_8 {
  background-position: 20% 16.6666666667%;
}

.card_water_46 {
  background-position: 20% 16.6666666667%;
}

.card_land_8 {
  background-position: 20% 16.6666666667%;
}

.card_space_9 {
  background-position: 40% 16.6666666667%;
}

.card_water_47 {
  background-position: 40% 16.6666666667%;
}

.card_land_9 {
  background-position: 40% 16.6666666667%;
}

.card_space_10 {
  background-position: 60% 16.6666666667%;
}

.card_water_48 {
  background-position: 60% 16.6666666667%;
}

.card_land_10 {
  background-position: 60% 16.6666666667%;
}

.card_space_11 {
  background-position: 80% 16.6666666667%;
}

.card_water_49 {
  background-position: 80% 16.6666666667%;
}

.card_land_11 {
  background-position: 80% 16.6666666667%;
}

.card_space_12 {
  background-position: 100% 16.6666666667%;
}

.card_water_50 {
  background-position: 100% 16.6666666667%;
}

.card_land_12 {
  background-position: 100% 16.6666666667%;
}

.card_space_13 {
  background-position: 0% 33.3333333333%;
}

.card_water_51 {
  background-position: 0% 33.3333333333%;
}

.card_land_13 {
  background-position: 0% 33.3333333333%;
}

.card_space_14 {
  background-position: 20% 33.3333333333%;
}

.card_water_52 {
  background-position: 20% 33.3333333333%;
}

.card_land_14 {
  background-position: 20% 33.3333333333%;
}

.card_space_15 {
  background-position: 40% 33.3333333333%;
}

.card_water_53 {
  background-position: 40% 33.3333333333%;
}

.card_land_15 {
  background-position: 40% 33.3333333333%;
}

.card_space_16 {
  background-position: 60% 33.3333333333%;
}

.card_water_54 {
  background-position: 60% 33.3333333333%;
}

.card_land_16 {
  background-position: 60% 33.3333333333%;
}

.card_space_17 {
  background-position: 80% 33.3333333333%;
}

.card_water_55 {
  background-position: 80% 33.3333333333%;
}

.card_land_17 {
  background-position: 80% 33.3333333333%;
}

.card_space_18 {
  background-position: 100% 33.3333333333%;
}

.card_water_56 {
  background-position: 100% 33.3333333333%;
}

.card_land_18 {
  background-position: 100% 33.3333333333%;
}

.card_space_19 {
  background-position: 0% 50%;
}

.card_water_57 {
  background-position: 0% 50%;
}

.card_land_19 {
  background-position: 0% 50%;
}

.card_space_20 {
  background-position: 20% 50%;
}

.card_water_58 {
  background-position: 20% 50%;
}

.card_land_20 {
  background-position: 20% 50%;
}

.card_space_21 {
  background-position: 40% 50%;
}

.card_water_59 {
  background-position: 40% 50%;
}

.card_land_21 {
  background-position: 40% 50%;
}

.card_space_22 {
  background-position: 60% 50%;
}

.card_water_60 {
  background-position: 60% 50%;
}

.card_land_22 {
  background-position: 60% 50%;
}

.card_space_23 {
  background-position: 80% 50%;
}

.card_water_61 {
  background-position: 80% 50%;
}

.card_land_23 {
  background-position: 80% 50%;
}

.card_space_24 {
  background-position: 100% 50%;
}

.card_water_62 {
  background-position: 100% 50%;
}

.card_land_24 {
  background-position: 100% 50%;
}

.card_space_25 {
  background-position: 0% 66.6666666667%;
}

.card_water_63 {
  background-position: 0% 66.6666666667%;
}

.card_land_25 {
  background-position: 0% 66.6666666667%;
}

.card_space_26 {
  background-position: 20% 66.6666666667%;
}

.card_water_64 {
  background-position: 20% 66.6666666667%;
}

.card_land_26 {
  background-position: 20% 66.6666666667%;
}

.card_space_27 {
  background-position: 40% 66.6666666667%;
}

.card_water_65 {
  background-position: 40% 66.6666666667%;
}

.card_land_27 {
  background-position: 40% 66.6666666667%;
}

.card_space_28 {
  background-position: 60% 66.6666666667%;
}

.card_water_66 {
  background-position: 60% 66.6666666667%;
}

.card_land_28 {
  background-position: 60% 66.6666666667%;
}

.card_space_29 {
  background-position: 80% 66.6666666667%;
}

.card_water_67 {
  background-position: 80% 66.6666666667%;
}

.card_land_29 {
  background-position: 80% 66.6666666667%;
}

.card_space_30 {
  background-position: 100% 66.6666666667%;
}

.card_water_68 {
  background-position: 100% 66.6666666667%;
}

.card_land_30 {
  background-position: 100% 66.6666666667%;
}

.card_space_31 {
  background-position: 0% 83.3333333333%;
}

.card_water_69 {
  background-position: 0% 83.3333333333%;
}

.card_land_31 {
  background-position: 0% 83.3333333333%;
}

.card_space_32 {
  background-position: 20% 83.3333333333%;
}

.card_water_70 {
  background-position: 20% 83.3333333333%;
}

.card_land_32 {
  background-position: 20% 83.3333333333%;
}

.card_space_33 {
  background-position: 40% 83.3333333333%;
}

.card_water_71 {
  background-position: 40% 83.3333333333%;
}

.card_land_33 {
  background-position: 40% 83.3333333333%;
}

.card_space_34 {
  background-position: 60% 83.3333333333%;
}

.card_water_72 {
  background-position: 60% 83.3333333333%;
}

.card_land_34 {
  background-position: 60% 83.3333333333%;
}

.card_space_35 {
  background-position: 80% 83.3333333333%;
}

.card_water_73 {
  background-position: 80% 83.3333333333%;
}

.card_land_35 {
  background-position: 80% 83.3333333333%;
}

.card_space_36 {
  background-position: 100% 83.3333333333%;
}

.card_water_74 {
  background-position: 100% 83.3333333333%;
}

.card_land_36 {
  background-position: 100% 83.3333333333%;
}

.card_insp_1 {
  background-position: 0% 0%;
}

.card_insp_2 {
  background-position: 20% 0%;
}

.card_insp_3 {
  background-position: 40% 0%;
}

.card_insp_4 {
  background-position: 60% 0%;
}

.card_insp_5 {
  background-position: 80% 0%;
}

.card_insp_6 {
  background-position: 100% 0%;
}

.card_insp_7 {
  background-position: 0% 50%;
}

.card_insp_8 {
  background-position: 20% 50%;
}

.card_insp_9 {
  background-position: 40% 50%;
}

.card_insp_10 {
  background-position: 60% 50%;
}

.card_insp_11 {
  background-position: 80% 50%;
}

.card_insp_12 {
  background-position: 100% 50%;
}

.card_insp_13 {
  background-position: 0% 100%;
}

.card_insp_14 {
  background-position: 20% 100%;
}

.card_insp_15 {
  background-position: 40% 100%;
}

.card_insp_16 {
  background-position: 60% 100%;
}

.card_insp_17 {
  background-position: 80% 100%;
}

.card_insp_18 {
  background-position: 100% 100%;
}

.card .dice {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.selection_area {
  position: sticky;
  top: 86px;
  align-self: flex-start;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 20;
}
.selection_area > * {
  position: relative;
  display: inline-block;
}

#mainarea {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  z-index: 0;
  position: relative;
}
#mainarea .card,
#mainarea .deck {
  position: absolute;
}

.guild {
  position: absolute;
  width: 40%;
  height: 10%;
}

.guild_blue {
  top: 65%;
  left: 50%;
}

.guild_yellow {
  top: 40%;
  left: 38%;
}

.guild_black {
  top: 20%;
  left: 50%;
}

.tableau {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5px;
  padding-top: 32px;
  height: 480px;
  gap: 2px;
}

.pboard {
  background-image: url(img/PlayerBoard-01-s.png);
  height: 100%;
  background-size: cover;
  aspect-ratio: 798/1024;
  position: relative;
}

.breakroom {
  position: absolute;
  top: 21%;
  right: 0%;
  width: 33%;
  height: 24%;
}
.breakroom > * {
  display: inline-block;
  vertical-align: top;
}

.infsupply {
  position: absolute;
  top: 42%;
  right: 0%;
  width: 26%;
  height: 24%;
  counter-reset: item-counter; /* Initialize the counter on the parent */
}
.infsupply > * {
  position: absolute;
}
.infsupply > *:not(:last-child) {
  visibility: hidden;
}
.infsupply .influence::before {
  counter-increment: item-counter; /* Increment for each child */
  content: counter(item-counter); /* Display the current count */
  position: absolute;
}

.caravan {
  position: absolute;
  left: 1%;
  top: 21%;
  width: 64%;
  height: 25%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  z-index: 2;
}

.caravan_cell {
  position: relative;
}
.caravan_cell:hover {
  background-color: rgba(0, 0, 255, 0.404);
}
.caravan_cell.active {
  background-color: rgba(25, 190, 219, 0.3);
  cursor: pointer;
}
.caravan_cell .upg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.caravan_cell .upg.upg_green,
.caravan_cell .upg.upg_pink {
  width: 100%;
  height: 100%;
}
.caravan_cell .upg.upg_yellow,
.caravan_cell .upg.upg_blue {
  width: 200%;
  height: 100%;
}

.players_panels {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mainboardall {
  position: relative;
}
.mainboardall > * {
  display: inline-block;
  vertical-align: top;
  position: relative;
  aspect-ratio: 768/1024;
  height: 600px;
  background-size: cover;
}

.mainboard_x {
  margin-top: 200px;
  margin-bottom: 200px;
}

.mainboard_1 {
  background-image: url(img/MainBoard1.jpg);
}
.mainboard_1 .upg_pink {
  position: absolute;
}
.mainboard_1 .upg_pink_46 {
  top: 11.5%;
  left: 7%;
}
.mainboard_1 .upg_pink_47 {
  top: 11.5%;
  left: 18.5%;
}
.mainboard_1 .upg_pink_44 {
  top: 11.5%;
  left: 30%;
}
.mainboard_1 .upg_pink_49 {
  top: 11.5%;
  left: 41.5%;
}
.mainboard_1 .upg_pink_48 {
  top: 11.5%;
  left: 53%;
}
.mainboard_1 .upg_pink_40 {
  top: 80.5%;
  left: 7%;
}
.mainboard_1 .upg_pink_41 {
  top: 80.5%;
  left: 18.5%;
}
.mainboard_1 .upg_pink_45 {
  top: 80.5%;
  left: 30%;
}
.mainboard_1 .upg_pink_43 {
  top: 80.5%;
  left: 41.5%;
}
.mainboard_1 .upg_pink_42 {
  top: 80.5%;
  left: 53%;
}

.mainboard_2 {
  background-image: url(img/MainBoard2.jpg);
  aspect-ratio: 1212/1024;
}
.mainboard_2 .upg {
  position: absolute;
  top: 80.5%;
}
.mainboard_2 .upg_green {
  top: 11.5%;
}
.mainboard_2 .upg_black {
  top: 7.5%;
}
.mainboard_2 .upg_green_31 {
  left: 0%;
}
.mainboard_2 .upg_green_32 {
  left: 15%;
}
.mainboard_2 .upg_green_33 {
  left: 22%;
}
.mainboard_2 .upg_green_34 {
  left: 7.5%;
}
.mainboard_2 .upg_black_20 {
  left: 94%;
}
.mainboard_2 .upg_black_21 {
  left: 86.5%;
}
.mainboard_2 .upg_black_22 {
  left: 79%;
}

.mainboard_3 {
  background-image: url(img/MainBoard3.jpg);
  margin-right: 200px;
}

.tracker {
  height: 32px;
  aspect-ratio: 1/1;
}
.log .tracker, #page-title .tracker {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  line-height: 24px;
}

.counter,
.influence {
  color: black;
  text-shadow: #fff -1px -1px, #fff 1px 1px, #fff -1px 1px, #fff 1px -1px;
}
html[data-theme=dark] .counter,
html[data-theme=dark] .influence {
  color: white;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.267), 1px 1px rgba(0, 0, 0, 0.267), -1px 1px rgba(0, 0, 0, 0.267), 1px -1px rgba(0, 0, 0, 0.267);
}

.miniboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.miniboard .tracker,
.miniboard .counter {
  color: black;
  text-shadow: #fff -1px -1px, #fff 1px 1px, #fff -1px 1px, #fff 1px -1px;
}
html[data-theme=dark] .miniboard .tracker,
html[data-theme=dark] .miniboard .counter {
  color: white;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.267), 1px 1px rgba(0, 0, 0, 0.267), -1px 1px rgba(0, 0, 0, 0.267), 1px -1px rgba(0, 0, 0, 0.267);
}
.miniboard .tracker::after,
.miniboard .counter::after {
  content: attr(data-state);
  position: relative;
  left: 12px;
  top: 9px;
}

.wooden {
  background-image: url(img/tokens.png);
  background-size: auto 800%;
}

.dice {
  background-image: url(img/dice.png);
  background-size: 600% 100%;
  mask-image: url(img/dice.png);
  mask-size: 600% 100%;
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  background-blend-mode: multiply;
  background-position-x: 100%;
}
.dice.color_ff0000 {
  background-color: #ff0000;
}
.dice[data-state="1"] {
  background-position-x: 0%;
}
.dice[data-state="2"] {
  background-position-x: 20%;
}
.dice[data-state="3"] {
  background-position-x: 40%;
}
.dice[data-state="4"] {
  background-position-x: 60%;
}
.dice[data-state="5"] {
  background-position-x: 80%;
}

.dice.active_slot {
  cursor: pointer;
  outline: unset;
  border: 4px dashed #19bedb;
}

.influence {
  background-image: url(img/tokens.png);
  background-size: auto 1100%;
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  background-position-y: 83%;
}
.influence.color_982fff {
  background-position-x: 84.6%;
}
.influence.color_6cd0f6 {
  background-position-x: 77%;
}
.influence.color_ffcc02 {
  background-position-x: 100%;
}
.influence.color_ff0000 {
  background-position-x: 92.3%;
}

.marker {
  background-image: url(img/tokens.png);
  background-size: auto 1100%;
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  background-position-y: 69%;
  z-index: 2;
}
.marker.color_982fff {
  background-position-x: 84.6%;
}
.marker.color_6cd0f6 {
  background-position-x: 77%;
}
.marker.color_ffcc02 {
  background-position-x: 100%;
}
.marker.color_ff0000 {
  background-position-x: 92.3%;
}
.mainboardall .marker {
  position: absolute;
  top: 50%;
}
.mainboardall .marker[data-state="0"] {
  left: 0%;
}
.mainboardall .marker[data-state="1"] {
  left: 3.3333333333%;
}
.mainboardall .marker[data-state="2"] {
  left: 6.6666666667%;
}
.mainboardall .marker[data-state="3"] {
  left: 10%;
}
.mainboardall .marker[data-state="4"] {
  left: 13.3333333333%;
}
.mainboardall .marker[data-state="5"] {
  left: 16.6666666667%;
}
.mainboardall .marker[data-state="6"] {
  left: 20%;
}
.mainboardall .marker[data-state="7"] {
  left: 23.3333333333%;
}
.mainboardall .marker[data-state="8"] {
  left: 26.6666666667%;
}
.mainboardall .marker[data-state="9"] {
  left: 30%;
}
.mainboardall .marker[data-state="10"] {
  left: 33.3333333333%;
}
.mainboardall .marker[data-state="11"] {
  left: 36.6666666667%;
}
.mainboardall .marker[data-state="12"] {
  left: 40%;
}
.mainboardall .marker[data-state="13"] {
  left: 43.3333333333%;
}
.mainboardall .marker[data-state="14"] {
  left: 46.6666666667%;
}
.mainboardall .marker[data-state="15"] {
  left: 50%;
}
.mainboardall .marker[data-state="16"] {
  left: 53.3333333333%;
}
.mainboardall .marker[data-state="17"] {
  left: 56.6666666667%;
}
.mainboardall .marker[data-state="18"] {
  left: 60%;
}
.mainboardall .marker[data-state="19"] {
  left: 63.3333333333%;
}
.mainboardall .marker[data-state="20"] {
  left: 66.6666666667%;
}
.mainboardall .marker[data-state="21"] {
  left: 70%;
}
.mainboardall .marker[data-state="22"] {
  left: 73.3333333333%;
}
.mainboardall .marker[data-state="23"] {
  left: 76.6666666667%;
}
.mainboardall .marker[data-state="24"] {
  left: 80%;
}
.mainboardall .marker[data-state="25"] {
  left: 83.3333333333%;
}
.mainboardall .marker[data-state="26"] {
  left: 86.6666666667%;
}
.mainboardall .marker[data-state="27"] {
  left: 90%;
}
.mainboardall .marker[data-state="28"] {
  left: 93.3333333333%;
}
.mainboardall .marker[data-state="29"] {
  left: 96.6666666667%;
}
.mainboardall .marker[data-state="30"] {
  left: 100%;
}

.food {
  background-image: url(img/tokens.png);
  background-position: 84% 42%;
  background-size: auto 1100%;
}

.coin {
  background-image: url(img/tokens.png);
  background-position: 76.5% 42%;
  background-size: auto 1200%;
}

.worker {
  background-position: 0% 57%;
  background-size: auto 800%;
  width: 26px;
  height: 39px;
  aspect-ratio: 2/3;
}

.worker_blue {
  background-position-x: 16%;
}

.worker_yellow {
  background-position-x: 8%;
}

.worker_green {
  background-position-x: 0%;
}

.tableau .worker {
  filter: drop-shadow(2px 2px 3px black);
}

.wicon {
  background-image: url(img/tokens.png);
  background-size: auto 1200%;
  width: 128px;
  height: 128px;
  outline: 1px dashed red;
}

.icon_city {
  background-position: 0% 1%;
  background-size: auto 1200%;
}

.icon_harbour {
  background-position: 6% 1%;
  background-size: auto 1200%;
}

.icon_book {
  background-position: 13% 1%;
  background-size: auto 1200%;
}

.icon_observatory {
  background-position: 19.5% 1%;
  background-size: auto 1200%;
}

.icon_vista {
  background-position: 26% 1%;
  background-size: auto 1200%;
}

.icon_sea {
  background-position: 32.5% 1%;
  background-size: auto 1200%;
}

.icon_comet {
  background-position: 39% 1%;
  background-size: auto 1200%;
}

.icon_comet_up {
  background-position: 47% 1%;
  background-size: auto 1200%;
}

.icon_stars {
  background-position: 54% 2%;
}

.icon_planet {
  background-position: 62% 2%;
}

.icon_moon {
  background-position: 69.5% 2%;
}

.icon_sun {
  background-position: 78% 2%;
}

.icon_vp {
  background-position: 86% 2%;
}

.icon_upg_green {
  background-position: 0% 28%;
}

.icon_upg_black {
  background-position: 10% 28%;
}

.icon_upg_yellow {
  background-position: 19% 28%;
}

.icon_upg_blue {
  background-position: 30% 28%;
}

.icon_upg_pink {
  background-position: 40% 28%;
}

.icon_upg_any {
  background-position: 50% 28%;
}

.icon_upg_green_free {
  background-position: 60% 28%;
}

.icon_upg_black_free {
  background-position: 70% 28%;
}

.icon_upg_yellow_free {
  background-position: 80% 28%;
}

.icon_upg_blue_free {
  background-position: 90% 28%;
}

.icon_camel {
  background-position: 69% 28%;
  background-size: auto 1000%;
}

.icon_ship {
  background-position: 77% 28%;
  background-size: auto 1000%;
}

.icon_bird {
  background-position: 85% 28%;
  background-size: auto 1000%;
}

.icon_telescope {
  background-position: 97% 28%;
  background-size: auto 1000%;
}

.icon_inf_blue {
  background-position: 0% 42%;
}

.icon_inf_black {
  background-position: 8% 42%;
}

.icon_inf_yellow {
  background-position: 16% 42%;
}

.icon_inf_any {
  background-position: 24% 42%;
}

.icon_inf_move {
  background-position: 40% 42%;
}

.icon_inf_blue_pay {
  background-position: 48% 42%;
}

.icon_inf_black_pay {
  background-position: 56% 42%;
}

.icon_inf_yellow_pay {
  background-position: 56% 42%;
}

.icon_reroll {
  background-position: 50% 60%;
}

.icon_journal {
  background-position: 80% 60%;
}

.icon_rest1 {
  background-position: 100% 60%;
}

.upg {
  background-image: url(img/upgTiles2.jpg);
  background-size: 300% 400%;
}
.upg.upg_blue, .upg.upg_yellow {
  width: 84px;
  height: 42px;
}
.upg.upg_pink, .upg.upg_green {
  width: 42px;
  height: 42px;
}
.upg.upg_black {
  width: 42px;
  height: 84px;
}
.upg.upg_pink, .upg.upg_black, .upg.upg_green {
  background-image: url(img/upgTiles1.jpg);
  background-size: 500% 500%;
}
.upg.upg_black {
  background-size: 500% 250%;
}
.upg.upg_blue_7 {
  background-position: 0% 0%;
}
.upg.upg_blue_8 {
  background-position: 50% 0%;
}
.upg.upg_blue_9 {
  background-position: 100% 0%;
}
.upg.upg_blue_10 {
  background-position: 0% 33.333%;
}
.upg.upg_blue_11 {
  background-position: 50% 33.333%;
}
.upg.upg_blue_12 {
  background-position: 100% 33.333%;
}
.upg.upg_yellow_1 {
  background-position: 0% 66.667%;
}
.upg.upg_yellow_2 {
  background-position: 50% 66.667%;
}
.upg.upg_yellow_3 {
  background-position: 100% 66.667%;
}
.upg.upg_yellow_4 {
  background-position: 0% 100%;
}
.upg.upg_yellow_5 {
  background-position: 50% 100%;
}
.upg.upg_yellow_6 {
  background-position: 100% 100%;
}
.upg.upg_pink_40 {
  background-position: 0% 0%;
}
.upg.upg_pink_41 {
  background-position: 25% 0%;
}
.upg.upg_pink_42 {
  background-position: 50% 0%;
}
.upg.upg_pink_43 {
  background-position: 75% 0%;
}
.upg.upg_pink_44 {
  background-position: 100% 0%;
}
.upg.upg_pink_45 {
  background-position: 0% 25%;
}
.upg.upg_pink_46 {
  background-position: 25% 25%;
}
.upg.upg_pink_47 {
  background-position: 50% 25%;
}
.upg.upg_pink_48 {
  background-position: 75% 25%;
}
.upg.upg_pink_49 {
  background-position: 100% 25%;
}
.upg.upg_black_20 {
  background-position: 0% 66.667%;
}
.upg.upg_black_21 {
  background-position: 25% 66.667%;
}
.upg.upg_black_22 {
  background-position: 50% 66.667%;
}
.upg.upg_green_31 {
  background-position: 0% 100%;
}
.upg.upg_green_32 {
  background-position: 25% 100%;
}
.upg.upg_green_33 {
  background-position: 50% 100%;
}
.upg.upg_green_34 {
  background-position: 75% 100%;
}

/* tooltips */
.midSizeDialog {
  max-width: 700px;
  min-width: 400px;
}

.tundra .dijitTooltipContainer,
.tooltipcontainer {
  background: white;
  color: black;
  border: unset;
  border-radius: unset;
  padding: unset;
  margin: 0;
}

.tundra .dijitTooltipContainer {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5019607843);
}

.tooltipcontainer {
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltipcontainer .tooltiptitle {
  position: relative;
  font-weight: bold;
  padding: 0.1em;
  font-size: x-large;
}
.tooltipcontainer .tooltip-body {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tooltipcontainer li {
  list-style: circle;
}
.tooltipcontainer .tooltiptext {
  max-width: 500px;
  top: unset;
}
.tooltipcontainer .tooltiptitle {
  font-family: "Caesar Dressing";
}

.tooltip-left {
  padding: 0.5em;
}

.tooltip-right {
  padding: 0.5em;
  padding-left: 0em;
}

/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * wayfarers implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * wayfarers.scss
 *
 */
@keyframes active-pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1.5);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1) !important;
  }
  50% {
    transform: scale(1.5) !important;
  }
  100% {
    transform: scale(1) !important;
  }
}
#gameaction_status_wrap {
  display: block !important;
}
#gameaction_status_wrap img {
  display: none;
}

.subtitle {
  font-size: x-small;
}

#page-title {
  min-height: 76px !important;
  line-height: 24px;
}

#pagemaintitle_wrap {
  min-height: 42px !important;
}

#oversurface {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: visible;
}

#oversurface > * {
  position: absolute;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  /* background-color: blue; */
  transform-origin: center center;
}

.phantom {
  animation: pulse 500ms ease-in-out;
}

.limbo {
  display: none;
}

#thething {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.bgabutton_orange {
  background-color: #b17300;
}

a.bgabutton_white {
  background-color: white;
  color: darkgrey;
}

.bgabutton_targetcolor {
  background-color: rgba(33, 150, 243, 0.7803921569);
}

.bgabutton_purple {
  background-color: rgb(43, 15, 76);
}

.bgabutton.disabled {
  pointer-events: unset;
}

.bgabutton.disabled:active {
  pointer-events: unset;
}

.gg_selected,
.gg_selected_alt {
  box-shadow: 0px 0px 5px 5px #3f51b5;
}

.active_slot {
  cursor: pointer;
  outline: 4px dashed #19bedb;
}
.active_slot.gg_selected, .active_slot.gg_selected_alt {
  outline: 4px dashed #3f51b5;
}

.gg_selected_alt.segment {
  margin-top: 0em !important;
}
.gg_selected_alt.target_container_card {
  margin-top: 0em !important;
}

.selection_area .disabled {
  filter: opacity(0.3);
}

/*
.gg_selected_alt[data-count] {
  box-shadow:
    0 0 0 2px white,
    0.3em 0.3em 1em gray !important;
}
*/
.bgabutton.gg_selected, .bgabutton.gg_selected_alt {
  border: 1px solid blue;
}
.bgabutton[data-count]::after {
  content: " x " attr(data-count);
}

.action-button {
  min-width: 4em;
  line-height: 24px;
}

#undoredo_wrap {
  margin-left: 5px;
  margin-right: 5px;
  float: right;
}

#go_to_next_table_active_player,
#go_to_next_table_inactive_player {
  top: 0px;
}

.button_undo {
  min-width: 2em;
  background-image: none;
}

#overall-content {
  overflow: visible;
}

.player-board {
  background-color: #f8f8f8;
}

.score-sheet {
  background-image: url(img/stonex.jpg);
  background-size: cover;
  font-family: "Caesar Dressing";
  font-size: large;
}
.score-sheet table,
.score-sheet td,
.score-sheet th {
  border: 1px solid darkgray;
  border-collapse: collapse;
  padding: 8px;
  color: white;
}
.score-sheet .bga-score-sheet_player-name {
  color: var(--player-color);
}

#test_stuff > * {
  display: inline-block;
}
