@use "variables" as v;

.card,
.deck,
.discard {
  height: v.$cardHeight;
  aspect-ratio: calc(v.$ratioW / v.$ratioH);
  box-shadow: v.$boxShadowBlack;
  border-radius: 5%;

  z-index: 5;
}

.deck {
  .counter {
    position: absolute;
    bottom: 1%;
    right: 1%;

    color: black;
    text-shadow: v.$textShadowWhite;

    html[data-theme="dark"] & {
      color: white;
      text-shadow: v.$textShadowBlack;
    }

    &::after {
      content: attr(data-state);
      position: relative;
    }
  }
  .card {
    visibility: hidden;
    position: absolute;
    left: 0 !important;
    top: 0 !important;
    right: unset;
    bottom: unset;
    width: 100%;
    height: 100%;
  }
}

.discard > * {
  visibility: hidden;
  position: absolute;
}

.mainarea {
  .card_folk {
    bottom: 99%;
  }
  .card_folk[data-state="4"] {
    left: 36%;
  }
  .card_folk[data-state="3"] {
    left: 68%;
  }
  .card_folk[data-state="2"] {
    left: 1%;
  }
  .card_folk[data-state="1"] {
    left: 22%;
  }
  .card.land {
    top: 99%;
  }
  .card.land[data-state="4"] {
    left: 36%;
  }
  .card.land[data-state="3"] {
    left: 68%;
  }
  .card.land[data-state="2"] {
    left: 1%;
  }
  .card.land[data-state="1"] {
    left: 22%;
  }

  .card.space {
    bottom: 99%;
  }
  .card.space[data-state="4"] {
    left: 35%;
  }
  .card.space[data-state="3"] {
    left: 1%;
  }
  .card.space[data-state="2"] {
    left: 80%;
  }
  .card.space[data-state="1"] {
    left: 59%;
  }

  .card.water {
    top: 99%;
  }
  .card.water[data-state="4"] {
    left: 35%;
  }
  .card.water[data-state="3"] {
    left: 1%;
  }
  .card.water[data-state="2"] {
    left: 80%;
  }
  .card.water[data-state="1"] {
    left: 59%;
  }

  .card.insp {
    left: 108%;
    transform: rotate(90deg);
  }
  .card.insp[data-state="4"] {
    top: 70%;
  }
  .card.insp[data-state="3"] {
    top: 45%;
  }
  .card.insp[data-state="2"] {
    top: 20%;
  }
  .card.insp[data-state="1"] {
    top: -5%;
  }
}
.mainarea {
  .deck_insp {
    left: 108%;
    bottom: 99%;
    transform: rotate(90deg);
  }
  .deck_space {
    right: 2%;

    bottom: 99%;
  }
  .deck_folk {
    left: 0;
    bottom: 99%;
  }
  .deck_land {
    left: 0;
    top: 99%;
  }
  .deck_water {
    right: 2%;

    top: 99%;
  }
}

.tableau {
  .card {
    position: absolute;
  }
  .column {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: v.$cardWidth;
    height: 100%;
    .card {
      left: 0%;
    }
  }

  .card_folk {
    z-index: 0;
    bottom: 0%;
  }
  .card_water,
  .card_land {
    z-index: 1;
    bottom: 9%;
  }
  .card_space {
    z-index: 1;
    top: 9%;
  }
  .card_insp {
    z-index: 0;
  }
  .pboard {
    display: inline-block;
    vertical-align: top;
    .card_home,
    .card[data-home-pos] {
      border: unset;
      box-shadow: unset;
    }
    .card_home {
      z-index: 1;
      bottom: 8%;
    }
    .card[data-home-pos] {
      bottom: 0%;
    }
    .card_home_1,
    .card[data-home-pos="1"] {
      left: 33%;
    }
    .card_home_2,
    .card[data-home-pos="2"] {
      left: 0%;
    }
    .card_home_3,
    .card[data-home-pos="3"] {
      right: 0%;
    }
    .card_folk_1 {
      left: 33%;
      bottom: 0%;
      position: absolute !important;
    }
    .card_home_1 {
      visibility: hidden;
    }

    .card_slot {
      left: 33%;
      height: 7%;
    }
    .card_home_10 {
      bottom: 29.5%;
    }
    .card_home_11 {
      bottom: 23%;
    }
    .card_home_12 {
      bottom: 16%;
    }
    .card_home_13 {
      bottom: 9%;
      height: 7.5%;
    }
  }
}

.card_home {
  background-image: url(img/PlayerBoard-01-s.png);
  background-size: 300% auto;
  background-position-y: 86%;
}
.card_home_1 {
  background-image: unset;
}

.card_home_2 {
  background-position-x: 0%;
}
.card_home_3 {
  background-position-x: 100%;
}
.card_folk_1 {
  background-image: unset !important;
}
.card_slot {
  background-image: unset;
  aspect-ratio: unset;
  width: v.$cardWidth;
  height: calc(v.$cardHeight / 6.4);
}

@for $i from 114 through 151 {
  $num: $i - 114;
  $cols: 6;
  $rows: 7;

  $col: $num % $cols;
  $row: calc(($num - $col) / $cols);
  .card_folk_#{$i} {
    background-position: calc($col * 100% / ($cols - 1)) calc($row * 100% / ($rows - 1));
  }
}

// .card_folk {
//   border-color: green;
// }
// .card.space {
//   border-color: black;
// }
// .card.land {
//   border-color: beige;
// }
// .card.water {
//   border-color: blue;
// }

.card_folk {
  background-image: url(img/cards_folk.jpg);
  background-size: 600% auto;
}
.deck_folk {
  background-image: url(img/cards_folk.jpg);
  background-size: 600% auto;
  background-position: 40% 100%;
}

.card_space {
  background-image: url(img/cards_space.jpg);
  background-size: 600% auto;
}
.deck_space {
  background-image: url(img/cards_space.jpg);
  background-size: 600% auto;
  background-position: 20% 100%;
}
.card_land {
  background-image: url(img/cards_land.jpg);
  background-size: 600% auto;
}
.deck_land {
  background-image: url(img/cards_folk.jpg);
  background-size: 600% auto;
  background-position: 60% 100%;
}

.card_water {
  background-image: url(img/cards_water.jpg);
  background-size: 600% auto;
}

.deck_water {
  background-image: url(img/cards_folk.jpg);
  background-size: 600% auto;
  background-position: 80% 100%;
}
.card_insp {
  background-image: url(img/cards_insp.jpg);
  background-size: 600% auto;
}
.deck_insp {
  background-image: url(img/cards_folk.jpg);
  background-size: 600% auto;
  background-position: 100% 100%;
}
@for $i from 1 through 36 {
  $num: $i - 1;
  $cols: 6;
  $rows: 7;

  $col: $num % $cols;
  $row: calc(($num - $col) / $cols);
  .card_space_#{$i} {
    background-position: calc($col * 100% / ($cols - 1)) calc($row * 100% / ($rows - 1));
  }
  $wn: calc($i + 38);
  .card_water_#{$wn} {
    background-position: calc($col * 100% / ($cols - 1)) calc($row * 100% / ($rows - 1));
  }
  .card_land_#{$i} {
    background-position: calc($col * 100% / ($cols - 1)) calc($row * 100% / ($rows - 1));
  }
}
@for $i from 1 through 18 {
  $num: $i - 1;
  $cols: 6;
  $rows: 3;

  $col: $num % $cols;
  $row: calc(($num - $col) / $cols);
  .card_insp_#{$i} {
    background-position: calc($col * 100% / ($cols - 1)) calc($row * 100% / ($rows - 1));
  }
}

.card {
  .dice {
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
  .worker,
  .influence {
    position: relative;
    margin-top: 21%;
    margin-left: 4%;
  }
}
