/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * wayfarers implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * wayfarers.scss
 *
 */

@use "variables" as v;

@use "Cards";
@use "Boards";
@use "Tokens";
@use "Tooltip";

@font-face {
  font-family: "official";
  src: url("img/ConcursoItalian.otf");
}

#gameaction_status_wrap {
  display: block !important; // prevent flickering of top bar

  img {
    display: none;
  }
}
.subtitle {
  font-size: x-small;
}
#page-title {
  min-height: 76px !important;
  line-height: 24px;
}
#pagemaintitle_wrap {
  min-height: 42px !important;
}

#oversurface {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: visible;
}

#oversurface > * {
  position: absolute;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  /* background-color: blue; */
  transform-origin: center center;
}

.phantom {
  animation: pulse 500ms ease-in-out;
}

.limbo {
  display: none;
}

#thething {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
// BUTTONS

.bgabutton_orange {
  background-color: #b17300;
}
a.bgabutton_white {
  background-color: white;
  color: darkgrey;
}

.bgabutton_gray {
  border: 1px solid #0606065e;
  box-shadow: 0 1px 0 #000;
}

.bgabutton_targetcolor {
  background-color: #2196f3c7;
}

.bgabutton_purple {
  background-color: rgb(43, 15, 76);
}

.bgabutton.disabled {
  pointer-events: unset; // undo bga default
}

// .bgabutton.disabled:hover {
//   background-color: red;
// }

.bgabutton.disabled:active {
  pointer-events: unset; // none - prevent default click, but not hover
}

.gg_selected,
.gg_selected_alt {
  box-shadow: 0px 0px 5px 5px v.$selectionColor;
}

.active_slot {
  cursor: pointer;
  //box-shadow: 0px 0px 4px 2px v.$activeColor !important;

  outline: 2px dashed v.$activeColor;
  outline-offset: -3px;

  &.gg_selected,
  &.gg_selected_alt {
    outline: 4px dashed v.$selectionColor;
  }
}

// .active_slot {
//   box-shadow: 0 0 6px 4px v.$activeColor;
//   animation: pulse-box-shadow 2s;
//   animation-iteration-count: 10;
// }

.active_slot.worker,
.active_slot.dice {
  box-shadow: unset;
  outline: unset;
  filter: drop-shadow(0px 0px 6px v.$activeColor);
  animation: pulse-drop-shadow 2s;
  animation-iteration-count: 10;
}

.gg_selected_alt {
  &.segment {
    margin-top: 0em !important;
  }
  &.target_container_card {
    margin-top: 0em !important;
  }
}

.selection_area .disabled {
  filter: opacity(0.3);
}

/*
.gg_selected_alt[data-count] {
  box-shadow:
    0 0 0 2px white,
    0.3em 0.3em 1em gray !important;
}
*/
.bgabutton {
  &.gg_selected,
  &.gg_selected_alt {
    border: 1px solid blue;
  }
  &[data-count]::after {
    content: " x " attr(data-count);
  }
}
//#page-title
.action-button {
  min-width: 4em;
  line-height: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 30px;
}

#undoredo_wrap {
  margin-left: 5px;
  margin-right: 5px;
  float: right;
}
// unset top otherwise its misaligned
#go_to_next_table_active_player,
#go_to_next_table_inactive_player {
  top: 0px;
}

.button_undo {
  min-width: 2em;
  background-image: none;
  // &::before {
  //   content: "\f049"; //' "\f0e2";
  //   font-size: large;
  //   font-family: FontAwesome;
  // }
}

#overall-content {
  overflow: visible; // when hidden it prevents sticky position to work
}

.player-board {
  background-color: #f8f8f8;
}

.score-sheet {
  background-image: url(img/starbg.jpg);
  background-size: cover;
  font-family: "official";
  font-size: large;
  table,
  td,
  th {
    border: 1px solid darkgray;
    border-collapse: collapse;
    padding: 8px;
    color: white;
  }
  .bga-score-sheet_player-name {
    color: var(--player-color);
  }
  table tr:first-child {
    background-color: #cba014;
  }
}
// html {
//   background: none;
// }
// html:before {
//   background-image: url(img/background.jpg);
//   background-position: 50% 0;
//   background-repeat: no-repeat;
//   background-size: cover;
//   content: " ";
//   display: block;
//   height: 100%;
//   left: 0;
//   opacity: 0.5;
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: -1;
// }

#test_stuff > * {
  display: inline-block;
}

.target_container {
  position: relative;

  min-width: 64px;
  border: 1px solid gray;
  border-radius: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  background-color: #f0f0f0;
  color: #060606;

  & > * {
    position: relative;
    display: inline-block;
  }
  &:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }
}

html {
  background: none;
  background-color: #b9ecbe;
}
html:before {
  background-image: url(img/bg.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  content: " ";
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  opacity: 0.7;
  position: fixed;

  z-index: -1;
}
