@use "variables" as v;
/* tooltips */
.midSizeDialog {
  max-width: 700px;
  min-width: 400px;
}

.tundra .dijitTooltipContainer,
.tooltipcontainer {
  background: white;
  color: black;
  border: unset;
  border-radius: unset;
  padding: unset;
  margin: 0;
}

.tundra .dijitTooltipContainer {
  box-shadow: 1px 1px 2px 2px #00000080;
}

.tooltipcontainer {
  //background-image: url(img/stonex.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .tooltiptitle {
    position: relative;
    font-weight: bold;
    padding: 0.1em;
    font-family: var(--accent-game-font);
    font-size: x-large;
  }

  .tooltip-body {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  li {
    list-style: circle;
  }

  .tooltiptext {
    max-width: 500px;
    top: unset;
  }
}

.tooltip-left {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .tooltipimage.card,
  .tooltipimage.deck {
    height: 300px;
  }

  .tooltipimage.card_slot {
    height: 60px;
  }

  // For dual images (upgrade tiles showing front and reverse)
  .tooltipimage + .tooltipimage {
    margin-top: 0.3em;
  }
}

.tooltip-right {
  padding: 0.5em;
  padding-left: 0em;
}

#pile_content {
  position: relative;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;

  .counter {
    position: absolute;
    display: none;
  }

  & > * {
    opacity: 1;
    position: relative;
    color: black;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  & > *:only-child {
    display: none;
  }
}

.card_pile_selector {
  .tooltip-right {
    min-width: 20em;
  }
}

.card_pile_help {
  font-size: x-small;
  font-style: italic;
}

.tooltipcontainer {
  .card_home {
    background-image: url(img/PlayerBoard-nb.png);
    background-size: 304% auto;
    background-position-y: 85%;
  }

  .card_slot {
    aspect-ratio: 5 / 1;
    height: 50px;
  }

  .card_home_1 {
  }
  .card_space_1 {
    background-image: url(img/PlayerBoard-nb.png);
    background-size: 304% auto;
    background-position-x: 100%;
    background-position-y: 15%;
  }

  .card_home_2 {
    background-position-x: 0%;
  }
  .card_home_3 {
    background-position-x: 100%;
  }
  .card_home_10 {
    background-position-x: 50%;
    background-position-y: 68%;
    aspect-ratio: 5 / 1.4;
  }
  .card_home_11 {
    background-position-x: 50%;
    background-position-y: 75%;
  }
  .card_home_12 {
    background-position-x: 50%;
    background-position-y: 82%;
    aspect-ratio: 5 / 1.2;
  }
  .card_home_13 {
    background-position-x: 50%;
    background-position-y: 90%;
    aspect-ratio: 5 / 1.4;
  }
  .card_folk_1 {
    background-position-x: 50%;
    background-position-y: 100%;
    aspect-ratio: 3;
  }
}
